html {
    background-color: black;
}

body {
    /* display: none; */
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    margin-left: 10px;
    opacity: .3;
    border-radius: 100%;
}

.carousel-indicators .active {
    opacity: 1;
}

#carousel-detail > .carousel-indicators {
    position: unset;
    overflow-x: auto;
    display: block;
    white-space: nowrap;
}

#carousel-detail > .carousel-indicators [data-bs-target] {
    width: 80px;
    height: 48px;
    margin-right: 0;
    margin-left: 0;
    opacity: .3;
    border-radius: 10%;
}

#carousel-detail > .carousel-indicators .active {
    opacity: 1;
}

#main-navbar {
    transition: 0.3s;
}

.table-detail  tr  td {
    padding: 0px 5px;
}

/* scrollbar start */
/* width */
::-webkit-scrollbar {
    width: 2px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e0e0e0; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(66, 66, 66); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(58, 58, 58); 
}
/* scrollbar end */